@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Raleway:wght@700&display=swap');

:root {
  --clr-neon: rgb(50, 153, 153);
  --clr-bg: hsl(303 2% 16%);
}
@media screen and  (max-width: 375px) {
  #blur, #lightNeon, img, #lightFlashlight {
    display: none;
  }
  #title{
    font-size: 8.7vh;
    margin: 19vh 0 0 8.5vw;
    width: 1fr;
  }
  .neon-button {
    font-size: 2.5em;
    position: absolute;
    left: 20vw;
    top: 40vh
  }
  .nameInput {
    width: 10em;
  }
  .colorInput{
    position: absolute;
    left: 8.5vw;
  }
}
@media screen and (min-width: 376px) and (max-width: 1023px) {
  

  .nameInput {
    width: 13em;
    margin-top: 18.5%;
  }

  button {
    position: inherit;
    top: 2.32em
  }

  #infoBar {
    position:absolute;
    top: 15vh;
    left: 2vw;
  }

  .neon-button {
    font-size: 3em;
    position: absolute;
    left: 30vw;
    top: 40vh
  }
  #title{
   
    font-size: 5em;
  }
  #blur, #lightNeon, img, #lightFlashlight {
    display: none;
  }

}

@media screen and (min-width: 1024px) {
  body {}
button{
  top:6.1em
}
  #infoBar {
    top: 19vh;
    left: 40vw;
  }

  .neon-button {
    font-size: 4em;
    position: absolute;
    left: 40vw;
    top: 40vh;
  }
  #title{
    margin-left: 1em;
    font-size: 5em;
  }
  #blur {
    transform: perspective(6em) rotateY(70deg);
    filter: blur(0.9px);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 5.45em currentColor;
    left: 1em;
    font-size: 6em;
    position: absolute;
    top: 40vh;
  }

  #lightNeon {
    position: absolute;
    left: 23em;
    bottom: 50%;

  }

  img {
    transform: rotate(225deg);
    object-fit: contain;
    width: 10%;
    height: 30%;
    cursor: pointer;
    position: absolute;
    right: 10vw;
    top: 34vh
  }


}


*,
*::before,
*::after {
  
}

/* input */
.nameInput{

  border: none;
  font-size: inherit;
  height: 25.5px;
  color: rgb(27, 27, 27);
  border-bottom: 1px solid #eee;
}



button {
  border: none;
  font-size: 1.3em;
  color: rgb(224, 209, 209);
  background-color: rgb(112, 88, 88);
  transition: color 200ms;
  height: 1.4em;
  position: absolute;
  
}

.nameInput:focus, button:focus {
  outline: none;
}

button:hover {
  color: #3498db;
}

/* animação title */
#title{
  text-align: center;
  background: -webkit-linear-gradient(rgb(155, 111, 111), rgb(52, 98, 223));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: title infinite 2s alternate-reverse;
}

@keyframes title {
  from {
    text-shadow: inherit;
  }

  to {
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  }
}

body {
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  font-family: 'Balsamiq Sans', cursive;
  color: var(--clr-neon);
  background: var(--clr-bg);
}

#infoBar {
  margin: 30px 6em;
  
  width: auto;
  
}

#infoBar .colorInput{
  color: rgb(73, 70, 70);
  padding: 1px;
  height: 2em;
}

/* neon effects 
referencia https://youtu.be/6xNcXwC6ikQ*/
.neonLightBlur {
  transform: perspective(7em) rotateY(40deg) scale(3, 1.35);
  color: var(--clr-neon);
  filter: blur(0.8em);
}

#lightFlashlight {
  font-size: x-large;
  position: relative;
  left: 18.2em;
  top: 5.3em;

}


.neon-button {

  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}



.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}